h1{
	margin: 20px ;
	border: 2px solid black;
	background: red;
	
	
	padding:10px;
	outline: ;
	width:217px ;
	height: ;
	display: ;
	overflow: ;
	visibility: ;
	word-wrap: ;
	
}

p{
	padding:8px;
	border: 2px solid black;
	background: #fb547b;
	color: black ;
	font-style:italic ;
	font-family:serif ;
	font: ;/* this combines the font-weight with the two above*/
	line-height: ;
	text-align: ;
	text-indent:;
	text-transform: ;
	text-decoration: ;
 
}

body{
	background-color:#a2c1f9;
	background-repeat:no-repeat;

}

fieldset{
	background-color:#fb547b;
 	border: 2px solid black;
}